<h1>New Profile</h1>


<%= form_with model: @lifechart do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "eg John Doe" %>
    <% @lifechart.errors.full_messages_for(:name).each do |msg| %>
      <div class="errmsg"><%= msg %></div>
    <% end %>

    <br>
    <%= form.label "Birth date" %>
    <%= form.text_field :birthday, placeholder: "eg 30 Sep 2000" %>
    <% @lifechart.errors.full_messages_for(:birthday).each do |msg| %>
     <span class="errmsg"><%= msg %></span>
    <% end %>

    <br>
    <%= form.label "Body frequency" %>
    <%= form.number_field :body_freq, in: 1..31 %>

    <%= form.label "Mind frequency" %>
    <%= form.number_field :mind_freq, in: 1..31 %>

    <%= form.label "Love frequency" %>
    <%= form.number_field :love_freq, in: 1..31 %>

    <%= form.label "Work frequency" %>
    <%= form.number_field :work_freq, in: 1..31 %>

    <%= form.label "Money frequency" %>
    <%= form.number_field :money_freq, in: 1..31 %>

    <%= form.label "Play frequency" %>
    <%= form.number_field :play_freq, in: 1..31 %>

    <br />
    <%= form.submit "Submit", class: "btn" %><br>
  </div>

<% end %>