<h1>New Profile</h1>


<%= form_with model: @lifechart do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "eg John Doe" %>
    <% @lifechart.errors.full_messages_for(:name).each do |msg| %>
      <div class="errmsg"><%= msg %></div>
    <% end %>

    <br>
    <%= form.label "Birth date" %>
    <%= form.text_field :birthday, placeholder: "eg 30 Sep 2000" %>
    <% @lifechart.errors.full_messages_for(:birthday).each do |msg| %>
     <span class="errmsg"><%= msg %></span>
    <% end %>

    <br>


    <%= form.label "Activity" %>
    <%= form.text_field :activity, placeholder: "eg movies with siblings" %>

    <%= form.label "Past weekly frequency" %>
    <%= form.number_field :weekly_freq_before, in: 1..31 %>

    <%= form.label "Planned weekly frequency" %>
    <%= form.number_field :weekly_freq_after, in: 1..31 %>

    <br />
    <%= form.submit "Submit", class: "btn" %><br>
  </div>

<% end %>