<%# Hero %>
<section class="relative">
  <div class="container flex flex-col-reverse lg:flex-row items-center gap-12 mt-14 lg:mt-28">
    <%# Content %>
    <div class="flex flex-1 flex-col items-center lg:items-start">
      <h2 class="text-tailend-blue text-3xl md:text-4 lg:text-5xl text-center lg:text-left mb-6">You only live once.</h2>
      <p class="text-tailend-grey text-lg text-center lg:text-left mb-6">
        Get a Grip on What's LEFT
      </p>
      <%# Content %>
      <div class="flex justify-center flex-wrap gap-6">
        <button class="btn btn-purple hover:bg-tailend-white hover:text-black">More Info</button>
        <button class="btn btn-white hover hover:bg-tailend-purple hover:text-white">Sign Up Now</button>
      </div>
    </div>
    
    <%# Image %>
    <div class="flex justify-center flex-1 mb-10 md:mb-16 lg:mb-0 z-10">
      <%= image_tag "purple-and-white-modern-geometric-background.jpg", class: "w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full rotate-180" %>
    </div>
    <%# Rounded Rectangle %>
    <div class="hidden md:block overflow-hidden bg-tailend-purple rounded-l-full absolute h-80 w-2/4 top-32 right-0 lg:-bottom-28 lg: -right-36"></div>
  </div>
</section>

<%# Features %>
<section class="bg-tailend-white py-20 mt-20 lg:mt-60">
  <%# Heading %>
  <div class="sm:w-3/4 lg:w-5/12 mx-auto px-2 ">
    <h1 class="text-3xl text-center text-tailend-blue">How To Generate Your Lifechart</h1>
    <p class="text-center text-tailend-grey mt-4">Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Nulla quis lorem ut libero malesuada feugiat.</p>
  </div>
  <%# Feature #1 %>
  <div class="relative mt-20 lg:mt-24">
    <div class="container flex flex-col lg:flex-row items-center justify-center gap-x-24">
      <%# Image %>
      <div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
        <%= image_tag "dark-purple-circle-shapes-background-image.jpg", class: "w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full "%>
      </div>
      <%# Content %>
      <div class="flex flex-1 flex-col items-center lg:items-start">
        <h1 class="text-3xl text-tailend-blue">Step 1: Register</h1>
        <p class="text-tailend-grey my-4 text-center lg:text-left sm:w-3/4 lg:w-full">Donec rutrum congue leo eget malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
        <button class="btn btn-purple hover:bg-tailend-white hover:text-black">More Info</button>
      </div>
    </div>
    <%# Rounded Rectangle %>
    <div class="hidden lg:block overflow-hidden bg-tailend-purple rounded-r-full absolute h-80 w-2/4 top-32  lg:-bottom-24 lg: -left-36"></div>
  </div>

    <%# Feature #2 %>
  <div class="relative mt-20 lg:mt-52">
    <div class="container flex flex-col lg:flex-row-reverse items-center justify-center gap-x-24">
      <%# Image %>
      <div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
        <%= image_tag "dark-purple-circle-shapes-background-image.jpg", class: "w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full "%>
      </div>
      <%# Content %>
      <div class="flex flex-1 flex-col items-center lg:items-start">
        <h1 class="text-3xl text-tailend-blue">Step 2: Input your life activity</h1>
        <p class="text-tailend-grey my-4 text-center lg:text-left sm:w-3/4 lg:w-full">Donec rutrum congue leo eget malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
        <button class="btn btn-purple hover:bg-tailend-white hover:text-black">More Info</button>
      </div>
    </div>
    <%# Rounded Rectangle %>
    <div class="hidden lg:block overflow-hidden bg-tailend-purple rounded-l-full absolute h-80 w-2/4 top-32  lg:-bottom-24 lg: -right-36"></div>
  </div>

    <%# Feature #3 %>
  <div class="relative mt-20 lg:mt-52">
    <div class="container flex flex-col lg:flex-row items-center justify-center gap-x-24">
      <%# Image %>
      <div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
        <%= image_tag "dark-purple-circle-shapes-background-image.jpg", class: "w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full "%>
      </div>
      <%# Content %>
      <div class="flex flex-1 flex-col items-center lg:items-start">
        <h1 class="text-3xl text-tailend-blue">Step 3: Input the frequency before and after</h1>
        <p class="text-tailend-grey my-4 text-center lg:text-left sm:w-3/4 lg:w-full">Donec rutrum congue leo eget malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
        <button class="btn btn-purple hover:bg-tailend-white hover:text-black">More Info</button>
      </div>
    </div>
    <%# Rounded Rectangle %>
    <div class="hidden lg:block overflow-hidden bg-tailend-purple rounded-r-full absolute h-80 w-2/4 top-32  lg:-bottom-24 lg: -left-36"></div>
  </div>
</section>

<%# Download %>
<section class="py-20 mt-20">
  <%# Heading %>
  <div class="sm:w-3/4 lg:w-5/12 mx-auto px-2 ">
    <h1 class="text-3xl text-center text-tailend-blue">Step 4: Generate, Download and Print!</h1>
    <p class="text-center text-tailend-grey mt-4">Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Nulla quis lorem ut libero malesuada feugiat.</p>
  </div>
  <%# Cards %>
  <div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-16 max-w-screen-lg mt-16">
    <%# Card 1 %>
    <div class="flex flex-col rounded-md shadow-md">
      <div class="p-6 flex flex-col items-center">
        <%= image_tag "Google_Chrome_icon_(February_2022).svg", class: ""%>
        <h3 class="mt-5 mb-2 text-tailend-blue text-lg">Add to Chrome</h3>
        <p class="mb-2 text-tailend-grey font-light">Minimum version 4.3</p>
      </div>
      <hr class="border-b border-tailend-white">
      <div class="flex p-6">
        <button class="flex-1 btn btn-purple hover:bg-tailend-white hover:text-black">
          Add & Install Extension
        </button>
      </div>
    </div>
      <%# Card 2 %>
    <div class="flex flex-col rounded-md shadow-md">
      <div class="p-6 flex flex-col items-center">
        <%= image_tag "Firefox_logo_2017.svg.png", class: ""%>
        <h3 class="mt-5 mb-2 text-tailend-blue text-lg">Add to Firefox</h3>
        <p class="mb-2 text-tailend-grey font-light">Minimum version 4.3</p>
      </div>
      <hr class="border-b border-tailend-white">
      <div class="flex p-6">
        <button class="flex-1 btn btn-purple hover:bg-tailend-white hover:text-black">
          Add & Install Extension
        </button>
      </div>
    </div>
      <%# Card 3 %>
    <div class="flex flex-col rounded-md shadow-md">
      <div class="p-6 flex flex-col items-center">
        <%= image_tag "safari_logo.png", class: ""%>
        <h3 class="mt-5 mb-2 text-tailend-blue text-lg">Add to Safari</h3>
        <p class="mb-2 text-tailend-grey font-light">Minimum version 4.3</p>
      </div>
      <hr class="border-b border-tailend-white">
      <div class="flex p-6">
        <button class="flex-1 btn btn-purple hover:bg-tailend-white hover:text-black">
          Add & Install Extension
        </button>
      </div>
    </div>
  </div>
</section>

<%# FAQ %>
<section class="bg-tailend-white py-20">
  <div class="container">
    <%# Heading %>
    <div class="sm:w-3/4 lg:w-5/12 mx-auto px-2 ">
      <h1 class="text-3xl text-center text-tailend-blue">Frequently Asked Questions</h1>
      <p class="text-center text-tailend-grey mt-4">Here are some of our FAQs. If you have any other questions you'd like answered please feel free to reach out in the links below.</p>
    </div>
    <%# FAQ Items %>
    <div class="flex flex-col sm:w-3/4 lg:w-5/12 mt-12 mx-auto">
      <div class="flex items-center border-b py-4">
        <span class="flex-1">What is a Lifechart?</span>
        V
      </div>
      <div class="flex items-center border-b py-4">
        <span class="flex-1">Where can I find more info?</span>
        V
      </div>
      <div class="flex items-center border-b py-4">
        <span class="flex-1">How can I request a new browser?</span>
        V
      </div>
      <div class="flex items-center border-b py-4">
        <span class="flex-1">Is there a mobile app?</span>
        V
      </div>
      <button class="mt-12 flex self-center btn btn-purple hover:bg-tailend-white hover:text-black">
        More Info
      </button>
    </div>
  </div>
</section>

<%# Contact Us %>
<section class="bg-tailend-purple text-white py-20">
  <div class="container">
    <div class="sm:w-3/4 lg:w-2/4 mx-auto"></div>
    <p class="font-light uppercase text-center mb-8">35,000 ALREADY Joined</p>
    <h1 class="text-3xl text-center">Stay up-to-date with what we're doing</h1>
    <div class="flex flex-col sm:flex-col gap-6 mt-8">
      <%# <form action="" method="post">
      <input class="focus:outline-none flex-1 px-10 py-3 rounded-md text-black" type="text" placeholder="Enter your email address">
      </form> %>
      <%= form_with model: @lifechart do |form| %>
        <%= form.text_field :name, class: "focus:outline-none flex-1 px-10 py-3 rounded-md text-black", placeholder: "Enter your email address" %>
      <% end %>
      <button class="mt-12 flex self-center btn bg-tailend-red hover:bg-tailend-white hover:text-black">
        Contact Us
      </button>
    </div>
  </div>
</section>