<!DOCTYPE html>
<html>
  <head>
    <title>Tailender</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <header>
    <nav class="container font-Poppins flex items-center py-4 mt-4 sm:mt-12">
      <h1>TAILENDER</h1>
      <%= image_tag("icon-hourglass-icon.jpeg", size: "25")%>
      <ul class="hidden sm:flex flex-1 justify-end items-center gap-12 text-tailend-blue uppercase">

        <li><%= link_to "Home", site_index_path %></li>
        <li><%= link_to "New Profile", lifecharts_path %></li>
        <li>Newsletter</li>
        <% if current_user %>
          <li>
            <%= button_to "Sign out", destroy_user_session_path, class:, method: :delete %>
          </li>
          <li><%= link_to "My Lifechart", lifechart_path(current_user) %></li>
        <% else %>
          <li><%= link_to "Register", new_user_registration_path %></li>
          <li><%= link_to "Log in", new_user_session_path, class: "bg-tailend-purple text-white rounded-md px-7 py-3" %></li>
        <% end %>
        </ul>
        <ul class="flex sm:hidden flex-1 justify-end"><%= image_tag("Hamburger_icon.svg.png", size: "25")%></ul>
    </nav>
  </header>
  <body>
    <main>
      <% if notice %>
        <div class="notice"><%= notice %></div>
      <% elsif alert %>
        <div class="alert"><%= alert %></div>  
      <% end %>
    </main>
    <%= yield %>
  </body>
  <footer class="bg-tailend-purple fixed bottom-0 left-0 w-full">
    <h1>Here lies the footer!</h1>
  </footer>
</html>
