<!DOCTYPE html>
<html>
  <head>
    <title>Tailender</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <header>
    <nav class="container font-Poppins flex items-center py-4 mt-4 sm:mt-12">
      <%= image_tag("hourglassLogo.png", size: "35")%>
      <h1 class="font-semibold">TAILENDER</h1>
      <ul class="hidden sm:flex flex-1 justify-end items-center gap-12 text-tailend-blue uppercase">

        <li><%= link_to "Home", site_index_path %></li>
        <li><%= link_to "New Profile", lifecharts_path %></li>
        <li>Newsletter</li>
        <% if current_user %>
          <li>
            <%= button_to "Sign out", destroy_user_session_path, class:, method: :delete %>
          </li>
          <li><%= link_to "My Lifechart", lifechart_path(current_user) %></li>
        <% else %>
          <li><%= link_to "Register", new_user_registration_path %></li>
          <li><%= link_to "Log in", new_user_session_path, class: "whitespace-nowrap bg-tailend-purple text-white rounded-md px-7 py-3" %></li>
        <% end %>
        </ul>
        <ul class="flex sm:hidden flex-1 justify-end">
          <%= image_tag("Hamburger_icon.svg.png", size: "25")%>
        </ul>
    </nav>
  </header>
  <body>
    <main>
      <% if notice %>
        <div class="notice"><%= notice %></div>
      <% elsif alert %>
        <div class="alert"><%= alert %></div>  
      <% end %>
    </main>
    <%= yield %>
  </body>
  <footer class="bg-tailend-blue py-8">
    <div class="container flex flex-col md:flex-row items-center">
      <div class="flex flex-1 flex-wrap items-center justify-center md:justify-start gap-12">
        <%= image_tag "hourglassLogo.png", size: "35" %>
        <h1 class="font-semibold">TAILENDER</h1>
        <%# <ul class="flex text-white uppercase gap-12 text-xs"> %>
        <ul class="hidden sm:flex flex-1 justify-end items-center gap-12 text-tailend-blue uppercase">
          <li><%= link_to "Home", site_index_path %></li>
          <li><%= link_to "Features", site_index_path %></li>
          <li><%= link_to "Contact", site_index_path %></li>
        </ul>
      </div>
      <div class="flex gap-10 mt-12 md:mt-0">
        <li class="text-white text-2xl">FB</li>
        <li class="text-white text-2xl">Twitter</li>
      </div>
    </div>
  </footer>
</html>
